<!DOCTYPE html>
<html>
<head>
    <title>Player Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 20px;
        }
        h1 {
            text-align: center;
            color: #333;
        }
    </style>
</head>
<body>
    <div class="profile-container">
        
        <h1>Player Profile</h1>
        <div class="profile-info">
            <ul>
                <li><img class="player-headshot" src="{{ url_for('static', filename='player_images/' + profile.name.replace(' ', '-') + '.jpg') }}" alt="{{ profile.name }} headshot"></li>
                <li><span>Name:</span> {{ profile.name }}</li>
                <li><span>Position:</span> {{ profile.position }}</li>
                <li><span>Height:</span> {{ profile.height }}</li>
                <li><span>Weight:</span> {{ profile.weight }}</li>
                <li><span>Team:</span> <img src="{{ profile.team_logo }}" alt="{{ profile.team }} logo"> {{ profile.team }}</li>
            </ul>
        </div>
    </div>
    <div class="recent-games">
        <h2>Recent Games</h2>
        <table>
            <tr>
                <th>Date</th>
                <th>Team For</th>
                <th>Team Against</th>
                <th>Minutes</th>
                <th>Points</th>
                <th>Rebounds</th>
                <th>Assists</th>
                <th>FG %</th>
                <th>TS %</th>
                <th>+/-</th>
            </tr>
            {% for game in recent_games %}
            <tr>
                <td>{{ game.date }}</td>
                <td><img src="{{ game.team_for_logo }}" alt="{{ game.team_for }} logo"> {{ game.team_for }}</td>
                <td><img src="{{ game.team_against_logo }}" alt="{{ game.team_against }} logo"> {{ game.team_against }}</td>
                <td>{{ game.minutes }}</td>
                <td>{{ game.points }}</td>
                <td>{{ game.rebounds }}</td>
                <td>{{ game.assists }}</td>
                <td>{{ game.fg_percent }}%</td>
                <td>{{ game.ts_percent }}%</td>
                <td>{{ game.plus_minus }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
