<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Fresh Finder</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Fresh Finder</h1>
    <h2>Player Stats</h2>
    <ul>
      <li>Name: {{ stats.name }}</li>
      <li>Team For: {{ stats.team_for }}</li>
      <li>Team Against: {{ stats.team_against }}</li>
      <li>Points: {{ stats.points }}</li>
      <li>Rebounds: {{ stats.rebounds }}</li>
      <li>Assists: {{ stats.assists }}</li>
      <li>FG %: {{ stats.fg_percent }}</li>
      <li>TS %: {{ stats.ts_percent }}</li>
      <li>+/-: {{ stats.plus_minus }}</li>
      <li>PER: {{ stats.per }}</li>
    </ul>
  </body>
</html>
