<!DOCTYPE html>
<html>
  <head>
    <title>Team Search</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Search for a Team</h1>
    <form method="post" action="/team_search">
      <label for="search_term">Enter Team Name:</label>
      <input type="text" id="search_term" name="search_term" required aria-label="Search for team name" />
      <input type="submit" value="Search" aria-label="Submit team search" />
    </form>
  </body>
</html>
